@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Book+Antiqua");
html{

}
body{
    color: #ccc;
    background-color: #111;
    font-family: Ubuntu, Georgia;
    width: 96%;
}
select{
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
    font-family: inherit;
    font-size: 1.2em;
    cursor: pointer;
}
table{
    text-align: center;
    width: 100%;
    max-width: 600px;
    font-size: 1.2em;
}
.container{
    margin: 0px;
}
#modeSelectText{
    font-size: 1.3em;
    /* cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" style="font-size: 3em;"><text y="15">\u23F5</text></svg>'),pointer; */
    cursor: pointer;
    display: none;
}
#noteCircle{
    font-family: Ubuntu, Georgia;
    margin-top: 0.1em;
    width: 90%;
    max-width: 400px;
}

#otherModeSelect {
    display: none;
}

.imgText{
    position: absolute;
    text-align: left;
    font-family: Georgia;
    font-size: 12px;
    margin-left: 38px;
}
#img{
    display:flex;
    justify-content: center;
    height: 370px;
}
@media (max-width: 600px) {
    #img{
        display:flex;
        flex-wrap: wrap;
    }
    #noteCircle{
        max-width: 500px;
    }
}

@media (min-width: 1024px) {
    #img1{
        position: absolute;
        top: 40px;
        left: 5px;
        /* margin-left: -5px */
    }
    #img2{
        position: absolute;
        top: 40px;
        right: 20px;
    }
}

footer{
    opacity: 0.2;
    margin: -20px;
}
.helpOverlay{
    position: absolute;
    color: gold;
    font-size: 1.5em;
    font-weight: bold;
}
#helpText{
    color: gold;
    font-size: 0.8em;
    /* font-weight: bold; */
}