@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Book+Antiqua");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html{

}
body{
    color: #ccc;
    background-color: #111;
    font-family: Ubuntu, Georgia;
    width: 96%;
    
}
select{
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
    font-family: inherit;
    font-size: 1.2em;
    cursor: pointer;
}
table{
    text-align: center;
    width: 100%;
    max-width: 600px;
    font-size: 1.2em;
}
a {
    color: gold;
}
.container{
    margin: 0px;
}
#noteCircle{
    font-family: Ubuntu, Georgia;
    margin-top: 0.1em;
    width: 90%;
    max-width: 400px;
}

#otherModeSelect {
    display: none;
}

#sliders{
    font-size: 1.2em;
    font-family: Open Sans;
    font-weight: bold;
}
.imgText{
    position: absolute;
    text-align: left;
    font-family: Georgia;
    font-size: 12px;
    margin-left: 38px;
}
#img{
    display:flex;
    justify-content: center;
    height: 370px;
}
@media (max-width: 600px) {
    #img{
        display:flex;
        flex-wrap: wrap;
    }
    #noteCircle{
        max-width: 500px;
    }
    #spacer{
        height: 330px;
        clear: both;
    }
    #scaleSelect{
        max-width: 300px;
    }
}
/*
@media (min-width: 1024px) {

    #img1{
        position: absolute;
        top: 40px;
        left: 5px;

    }
    #img2{
        position: absolute;
        top: 40px;
        right: 20px;
    }

}
*/
footer{
    /* display: none; */
    position: relative;
    /* bottom: 0px; */
    /* opacity: 0.2; */
    padding: 20px;
}
.helpOverlay{
    position: absolute;
    color: gold;
    font-size: 1.5em;
    font-weight: bold;
}
#helpText{
    color: gold;
    font-size: 0.9em;
    /* font-weight: bold; */
}

input[type=range] {
  height: 40px;
  -webkit-appearance: none;
  margin: 1px 0;
  width: 100%;
  max-width:600px;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: e-resize;
  animate: 0.2s;
  /* box-shadow: 1px 1px 1px #50555C; */
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 12px;
  cursor: e-resize;
  -webkit-appearance: none;
  margin-top: -12.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: e-resize;
  animate: 0.2s;
  /* box-shadow: 1px 1px 1px #50555C; */
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 12px;
  cursor: e-resize;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: e-resize;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  /* box-shadow: 1px 1px 1px #50555C; */
}
input[type=range]::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  /* box-shadow: 1px 1px 1px #50555C; */
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 12px;
  cursor: e-resize;
}
input[type=range]:focus::-ms-fill-lower {
  background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #50555C;
}

#keySliderText{
    color: #eec600;
}
#keySlider::-moz-range-thumb{
  background: #eec600;
}
#keySlider::-ms-thumb{
  background: #eec600;
}
#keySlider::--webkit-slider-thumb{
  background: #eec600;
}
#modeSliderText{
    color: #529DE1;
}
#modeSlider::-moz-range-thumb{
  background: #529DE1;
}
#modeSlider::-ms-thumb{
  background: #529DE1;
}
#modeSlider::--webkit-slider-thumb{
  background: #529DE1;
}

.sliderText{
    margin-bottom: -15px;
}

@media (max-width: 600px) {
    input[type=range] {
      max-width: 300px;
    }
}
