@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Book+Antiqua");
html{

}
body{
    color: #ccc;
    background-color: #222;
    font-family: Ubuntu, Georgia;
}
select{
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
    font-family: inherit;
    font-size: 1.2em;
}
table{
    text-align: center;
    width: 100%;
    max-width: 600px;
    font-size: 1.2em;
}
#container{
    margin: 0px;
}
#modeSelectText{
    font-size: 1.3em;
}
#noteCircle{
    font-family: Ubuntu, Georgia;
    margin-top: 0.1em;
    width: 100%;
    max-width: 600px;
}

#lockNotes {
    display: ;
}
#img{
    display: none;
    max-width: 200px;
    background-color: #bbb;
}
