@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Book+Antiqua");
html{

}
body{
    color: #ccc;
    background-color: #111;
    font-family: Ubuntu, Georgia;
}
select{
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
    font-family: inherit;
    font-size: 1.2em;
}
table{
    text-align: center;
    width: 100%;
    max-width: 600px;
    font-size: 1.2em;
}
#container{
    margin: 0px;
}
#modeSelectText{
    font-size: 1.3em;
}
#noteCircle{
    font-family: Ubuntu, Georgia;
    margin-top: 0.1em;
    width: 90%;
    max-width: 500px;
}

#otherModeSelect {
    display: none;
}

.imgText{
    position: absolute;
    text-align: left;
    font-family: Georgia;
    font-size: 12px;
    margin-left: 38px;
}
#img{
    display:flex;
    justify-content: center;
}
@media (max-width: 600px) {
    #img{
        display:flex;
        flex-wrap: wrap;
    }
}

footer{
    opacity: 0.2;
}